@import "../shared/styles/variables";
@import "../shared/styles/mixins";

h3 {
  margin: 1rem 0 1.5rem;
}

form {
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(200, 200, 200, 0.7);
  box-shadow: 4px 4px 5px 0px rgba(200, 200, 200, 0.7);
  margin-bottom: 1rem;
  padding: 1rem;
}

select {
  @include field();
}

input {
  @include field();

  @media screen and (min-width: $screen-lg) {
    width: 300px;
  }
}

button {
  background: transparent;
  border: 1px solid $color-blue;
  border-radius: 5px;

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }

  &:active {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
}

hr {
  @include divider();
}

.display-rules {
  &__main {
    padding: 0 1rem;
  }

  &__form {
    &__title {
      @include font(16px, bold);
    }

    &__description {
      margin: 12px 0;
      display: inline-block;
      color: #666666;
      @include font(14px, normal);
    }

    &__input-fields-wrapper {
      @include flex();
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-bottom: 1rem;

      @media screen and (min-width: $screen-md) {
      }
    }

    &__input-fields {
      @include flex(column);
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      flex: 1;

      @media screen and (min-width: $screen-md) {
        @include flex(row);
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        flex: unset;
      }
    }

    &__input-fields:last-child {
      margin-bottom: 1rem;
    }

    &__input-field {
      width: 100%;
      margin-bottom: 1rem;

      @media screen and (min-width: $screen-md) {
        width: auto;
        margin-bottom: 0;
      }
    }

    &__input-field + &__input-field {
      margin-left: unset;

      @media screen and (min-width: $screen-md) {
        margin-left: 1rem;
      }
    }

    &__input-error {
      color: $color-alert;
      background: $color-pink;
      border: 1px solid $color-pink;
      padding: 8px 10px;
      @include font(12px);
    }
  }

  &__OR {
    margin: 12px 0;
    padding-left: 2rem;
    color: $color-grey;
    @include font(12px);
  }

  &__btn {
    &__add {
      padding: 8px 12px;
      cursor: pointer;
    }

    &__delete {
      display: inline-block;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      min-width: 16px;
      line-height: 10px;
      padding: 0;
      cursor: pointer;
      margin-left: 1rem;
      @include font(10px);
      margin-bottom: 1rem;

      @media screen and (min-width: $screen-md) {
        margin-bottom: 0;
      }

      &:hover {
        background-color: transparent;
        border-color: $color-danger;
        color: $color-danger;
      }
    }
  }
}
