form {
  border: 1px solid lightgray;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
  margin-bottom: 1rem;
  padding: 1rem;
}

h4 {
  margin: 0;
}

select,
input {
  padding: 5px;
  margin-right: 1.5rem;
  min-width: 200px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 1rem;
  }
}

button {
  background: transparent;
  border: 1px solid;
}

hr {
  margin-bottom: 1rem;
}

.display-rules {
  &__main {
    padding: 0 1rem;
  }

  &__form {
    &__description {
      font-size: 14px;
      margin: 12px 0;
      display: inline-block;
      color: #666666;
    }

    &__fields {
      display: flex;
      align-items: baseline;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }

    &__fields:last-child {
      margin-bottom: 1rem;
    }

    &__input-wrapper {
      display: inline-block;
    }

    &__input-error {
      color: #721c24;
      background: #f5c6cb;
      border: 1px solid #f5c6cb;
      padding: 5px 1rem;
      margin-right: 1.5rem;
    }
  }

  &__OR {
    margin: 0.5rem 0;
    padding-left: 2rem;
    color: #cccccc;
    font-size: 12px;
  }

  &__btn {
    &__add {
      padding: 8px 12px;
      cursor: pointer;
    }

    &__delete {
      border-radius: 50%;
      width: 16px;
      height: 16px;
      font-size: 10px;
      line-height: 10px;
      padding: 0;
      cursor: pointer;

      &:hover {
        border-color: #f5c6cb;
        color: #f5c6cb;
      }
    }
  }
}
