// breakpoint
$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;

// color
$color-danger: #dc3545;
$color-alert: #721c24;
$color-secondary: #dadfe6;
$color-primary: #343434;
$color-blue: #84a5c1;
$color-pink: #f8d7da;
$color-grey: #cccccc;
